Notebooks/Part_03_VQE/Chapter_03_02_Optimizadores/.ipynb_checkpoints/
Notebooks/Part_03_VQE/Chapter_03_02_Optimizadores/styles/__pycache__/
Notebooks/Part_03_VQE/Chapter_03_02_Optimizadores/utils/__pycache__/
